@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #ffffff;
    font-family: Open Sans, sans-serif;
    position: relative;
}

@layer components {
.btn-secondary {
        @apply bg-black;
    }
.span_promo{
    font-family:KGLifeisMessy;
}
.btn-primary {
    @apply bg-blue-700;
}
.align-primary {
    @apply text-left;
}
.h2-font-size-secondary {
    @apply text-xl
}
.align-right-side{
    @apply md:right-0 sm:right-auto
}
.h2-font-size-primary {
    @apply text-3xl
}
@font-face {
    font-family: 'Mochiy';
    src: local('Mochiy'), url(./assets/font/Mochiy.ttf) format('truetype');
    font-display: swap;

}
@font-face {
    font-family: 'KGLifeisMessy';
    src: local('KGLifeisMessy'), url(./assets/font/KGLifeisMessy.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'DancingScript';
    src: local('DancingScript-VariableFont_wght'), url(./assets/font/DancingScript-VariableFont_wght.ttf) format('truetype');
    font-display: swap;
}
h1 {
    font-family: 'Mochiy';
}

h2 {
    font-family: 'Mochiy';
}
}