@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #ffffff;
    font-family: Open Sans, sans-serif;
}
@layer components {
.btn-secondary {
        @apply bg-black;
    }

.btn-primary {
    @apply bg-blue-700;
}
.align-primary {
    @apply text-left;
}
.h2-font-size-secondary {
    @apply text-xl
}

.h2-font-ize-primary {
    @apply text-3xl
}
@font-face {
    font-family: 'Mochiy';
    src: local('Mochiy'), url(./assets/font/Mochiy.ttf) format('truetype');
}

h1 {
    font-family: 'Mochiy';
}

h2 {
    font-family: 'Mochiy';
}
}